@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)),
    url("/images/heroImg.jpeg");
  background-size: cover;
  background-position: center top;
}
@media screen and (max-width: 912px) {
  .heroP {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)),
      url("/images/couple2.jpeg");
    background-size: cover;
    background-position: center top;
  }
}
